.navbar-brand-logo img {
    /* width: 80px;  Adjust this value for the desired logo width */
    height: auto;  /* Keeps the aspect ratio correct */
    max-height: 50px;  /* Ensures the logo doesn't stretch beyond a certain height */
}

/* Reduce padding around the navbar logo */
.navbar-brand-logo {
    padding: 0; /* Remove any default padding */
    margin: 0;  /* Remove any default margin */
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}